<div id="report">
	<%=link_to  report.title, report%>

  <p id="reportContent">
		<%= truncate_content(report, report.content)%>
	</p>

	<section id="reportInfo">
		<p id="reportName" class="floatLeft clearLeft">
			<%=image_tag('NFIcons/reporter.png') %> 
			Reporter: <%= link_to report.user.name, user_path(report.user) %>
   	</p>

		<p id="userLoc" class="clearLeft floatLeft">
			<%= image_tag('NFIcons/userLoc.png') %> 
			Location: <%= report.user_loc %>
		</p>

		<p id="reportLoc" class="floatLeft">
			<%= image_tag('NFIcons/tags.png') %> 
			Occuring In: <%= report.post_loc %>
		</p>

		<p id="source" class="clearLeft floatLeft">
			<%=image_tag('NFIcons/source.png') %> 
			Source: <%= report.source  %>
		</p>

		<p id="time" class="floatLeft">
			<%=image_tag('NFIcons/time.png') %> 
			Date Created:<%=report.created_at.strftime("%B %e %l:%M %p %Y")%> (<%=distance_of_time_in_words(report.created_at, Time.now)%> ago)
	  </p>
	</section> 
</div>