<% if signed_in? %>

<div id="nav_wrap">
    <div id="nav">
  
        <a id="logo" href="index.html">Tussify</a>
    
        <div id="main_nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Quiz", "quiz/index" %></li>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Friends", users_path %></li>
        <li><%= link_to "Command Center", "/command" %></li>
        <li><%=link_to "Sign Out", "/signout" %></li>
      </ul>
        </div> <!--end main_nav-->
    
    </div> <!--end nav-->
</div> <!--end nav_wrap-->

<div id="header_wrap">
  <div id="header_subpage">

    <div id="header_msg">
            <% if user_signed_in? %>
      <p class="header_p">Your Rating: <%=@average %> %</p>
        <% end %>

        <style>

        #contain {
        width:200px;
        margin:none;
        position:relative;
        left:200px;
        margin-top:-67px;
        }

        #backbar {
        background:gray;
        height:25px;
        width:100%;
        }

        #bar {
        background:red;
        height:25px;
        width: <%= @average %>%;
        }

        </style>
        <div id="contain">
        <div id='backbar'>
        <div id = 'bar'>
        </div>
        </div>
        </div>
    </div>

  </div> <!--end header-->
</div> <!--end header_wrap-->
<div id ='main'>
<p> Hello!</p>
</div>
<% else %>

<head>



<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="css/style_ie.css" />
<![endif]--> 

<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="css/style_ie7.css" />
<![endif]-->

</head>

<body>

<div id="nav_wrap">
    <div id="nav">
  
        <a id="logo" href="index.html">Tussify</a>
    
        <div id="main_nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", "/about" %></li>
        <li><%= link_to "How it Works", "/howitworks" %></li>
        <li><%= link_to "Contact", "/contact" %></li>
        <li><%= link_to "Sign up", signup_path%></li>
        <li><%= link_to "Sign in", signin_path%></li>
      </ul>
        </div> <!--end main_nav-->
    
    </div> <!--end nav-->
</div> <!--end nav_wrap-->
    
<div id="header_wrap">
  <div id="header">
    
    <div id="small_slider">
            <ul>
                <li> 
                  <h4 class="header_h">Hello there!</h4>
                    <p class="header_p"> Tussify.  A revolutionary app designed to help students with test preparation.</p>
                </li>
                     
            </ul>
        </div> <!-- end small_slider-->
        
        <div id="big_slider">
            <ul>        
        <li><a href="gallery.html"><%=image_tag('photos/image_01.jpg')%></a></li>
         
      </ul>
        </div>
        
  </div> <!--end header-->
</div> <!--end header_wrap-->

<div id="main_wrap">
  <div id="main">
    
      <div id="main_content">
        
            <div class="col_3">
                <h3 class="title">Introduction</h3>
                <p>Tussify is a revolutionary app developed to aid students for standardized test
preparation. Students may practice and compete with their friends over problems. The
goal is to spread knowledge through competition. Improve your ranking by doing well
on quizzes. Every single question has been designed to stimulate your mind and is
guaranteed to improve your test-taking skills.</p>
                     
            </div>
            
            <div class="space"></div>
            
            <h3>How it Works</h3>
            
            <div class="col_1_box">
        
                <p>Each student creates a profile.  Practice real questions and compete against the best to gain points.  See who reigns in the quiz world.</p>
                <%=image_tag('photos/preview_01.jpg')%>              
            </div> 
            
            <div class="col_1_box">
                <h4></h4>
                <p>These questions have proven to be some of the toughest students face.</p>
                <%=image_tag('photos/preview_02.jpg')%>
            </div>
            
            <div class="col_1_box_last">
                <h4></h4>
                <p>Enjoy!!!</p>
                <%=image_tag('photos/preview_03.jpg')%>
            </div> 
            
    </div> <!--end main_content-->
       
    
  </div> <!--end main-->
</div> <!--end main_wrap-->



</body>

  
<% end %>
