<% if signed_in? %>
Hello Genius

<% else %>
<div id="body-wrapper" class="clearfix"><!--start body-wrapper-->
  <div style="padding-top:40px;" class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
            <%=image_tag('slide1.png')%>
      <%=image_tag('slide2.png')%>
    </div>
    </div>

  <div class="box">
    <h1>Learn, Play, and Compete with Friends!</h1>
    </div>

  <div class="one_fourth"><!--start top half content-->
    <h3>Secondary awesome title required also!</h3>
    <p>Create a profile! <a href="#">link</a></p>
  </div>
  <div class="one_fourth">
    <div class="fancy"><%=image_tag('210-150-1.png')%></div>
  </div>
  <div class="one_fourth">
    <div class="fancy"><%=image_tag('210-150-2.png')%></div>
  </div>
  <div class="one_fourth column-last">
    <div class="fancy"><%=image_tag('210-150-3.png')%></div>
  </div><!--end top half content-->

  <div class="clear"></div>

  <div class="one_fourth">
    <h3>One</h3>
    <p>Practice Problems!!</p>
  </div>
  <div class="one_fourth">
    <h3>Two</h3>
    <p>Compete against Friends!</p>
  </div>
  <div class="one_fourth">
    <h3>Three</h3>
    <p>Tussify is in its development stage.</p>
  </div>
  <div class="one_fourth column-last">
    <h3>Four</h3>
    <p>Enjoy!</p>
  </div>
    
    <div class="clear"></div>

</div><!--end-body wrapper-->

    <!--Nivo Slider-->
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
  <!--Nivo Slider-->
  
<% end %>
