<% if signed_in? %>
Hello Genius

<% else %>
<!--Nivo Slider-->
   <%= stylesheet_link_tag "default" %>
   <%= stylesheet_link_tag "nivo-slider" %>
<!--Nivo Slider-->

<!--FANCY BOX-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script>
    !window.jQuery && document.write('<script src="js/jquery-1.4.3.min.js"><\/script>');
  </script>
  <%= javascript_include_tag "jquery-fancybox-1.3.4.pack" %>
  <%= stylesheet_link_tag "jquery.fancybox-1.3.4" %>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $("a#fancybox").fancybox();  
    });
  </script>
  <style>
  .fancy a img {
  border: 1px solid #BBB;
  padding: 2px;
  margin: 10px 20px 10px 0;
  vertical-align: top;
  }
  .fancy a img.last {
  margin-right: 0;  
  }
  </style>
<!--FANCY BOX-->
</head>

<body>


<div id="body-wrapper" class="clearfix"><!--start body-wrapper-->
  <div style="padding-top:40px;" class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
            <%=image_tag('slide1.png')%>
      <%=image_tag('slide2.png')%>
    </div>
    </div>

  <div class="box">
    <h1>Learn, Play, and Compete with Friends!</h1>
    </div>

  <div class="one_fourth"><!--start top half content-->
    <h3>Secondary awesome title required also!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum massa eu nisi lacinia quis. <a href="#">link</a></p>
  </div>
  <div class="one_fourth">
    <div class="fancy"><%=image_tag('210-150-1.png')%></div>
  </div>
  <div class="one_fourth">
    <div class="fancy"><%=image_tag('210-150-2.png')%></div>
  </div>
  <div class="one_fourth column-last">
    <div class="fancy"><%=image_tag('210-150-3.png')%></div>
  </div><!--end top half content-->

  <div class="clear"></div>

  <div class="one_fourth">
    <h3>One</h3>
    <p>Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum vitae felis.</p>
  </div>
  <div class="one_fourth">
    <h3>Two</h3>
    <p>Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum vitae felis.</p>
  </div>
  <div class="one_fourth">
    <h3>Three</h3>
    <p>Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum vitae felis.</p>
  </div>
  <div class="one_fourth column-last">
    <h3>Four</h3>
    <p>Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum vitae felis.</p>
  </div>
    
    <div class="clear"></div>

</div><!--end-body wrapper-->

    <!--Nivo Slider-->
    <%= javascript_include_tag "jquery.nivo.slider.pack" %>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
  <!--Nivo Slider-->
  
</body>


<% end %>
