<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
<li><%= link_to "Testimonials", testimonials_path %></li>
	 <li><%= link_to "The Team", team_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
<li><%= link_to "Blog", 'http://blog.orchive.com/' %></li>
<li><%= link_to "Developers", developers_path %></li>

	<li><%= link_to "Privacy Policy", privacy_path %></li>
	<li><%= link_to "Terms of Agreement", terms_path %></li>
    </ul>
  </nav>
</footer>